.body_content_header {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(to right, rgba(141, 107, 181, 0.2), transparent);

  h1 {

  }
  div {
    flex: 1;
  }
}

.header_img_container {

  img {
    height: 300px;
  }
}

.body_content_header_txt_container {
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;

  h1 {
    font-size: 50px;
    margin-bottom: 0px;
  }
}