#body_content {
  position: fixed;
  top: 70px;
  height: calc(100% - 70px);
  width: 100%;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

#body_content::-webkit-scrollbar {
  display: none;
}

%body_overlay {
  z-index: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

#body_overlay_1 {
  @extend %body_overlay;
  top: 0;
  background-image: linear-gradient(to bottom, #5946ae, rgba(0,0,0,0));
  height: 200px;
}

#body_overlay_2 {
  @extend %body_overlay;
  bottom: 0;
  background-image: radial-gradient(circle at 110% 180%, #d9a0de, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0.5), transparent);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 #planet {
  opacity: 0.3;
  z-index: 0;
  position: fixed;
  width: 900px;
  max-height: 100vh;
  bottom: -40%;
  right: -20%;
  pointer-events: none;
 }

#body_content_container {
  width: 100%;
  margin: auto;
  //margin-top: 70px;
  padding-bottom: 10px;
  height: fit-content;
  border-radius: 0px 0px 10px 10px;
}

.body_content_text {
  background-color: rgba(95, 71, 122, 0.8);
  padding: 10px;
  margin: 20px auto 10px auto;
  width: 80%;
  border-radius: 10px;

  ul {
    font-weight: lighter;
  }

  p {
    margin: 15px;
    text-align: center;
    font-size: 110%;
  }

  hr {
    margin-left: 0;
    position: relative;
    border-top: 1px solid white;
    border-bottom: none;
    margin-bottom: 15px;
    width: 50%;
    min-width: 200px;
  }

  hr:before, hr:after {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    transform: rotate(45deg);
    border: 1px solid white;
    background-color: white;
    }

  hr:before {
      left: -5px;
      bottom: -5px;
  }

  hr:after {
      bottom: -5px;
      right: -5px;
  }

  li {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 900px) {
  .body_content_text {
    width: auto;
    border-radius: 0;
  }
}